.DS_Store
node_modules
.git
.gitattributes
.env*
!.env.production
.idea
.husky
.github
.vscode
dist
scripts
prettier.config.js
.prettierignore
.stylelintignore
.stylelintrc.js
.eslintrc.js
.eslintignore
.gitlab*
README.md
LICENSE
