##### client #####
## 接口域名
VITE_API_DOMAIN=/api/mock
## 接口超时时间
VITE_TIMEOUT=60000
VITE_BASE_URL=/

##### 公共 #####
## 支持的语言
LANGUAGES=zh,en
## 默认语言
DEFAULT_LANGUAGE=en
## cookie域名 .domain.com
COOKIE_DOMAIN=localhost
## 语言cookie名
COOKIE_LANG_KEY=__lang
# 环境
NODE_ENV=development

##### server #####
# 服务端口
PORT=10011
## 是否开启打包分析
BUNDLE_ANALYZER=false
## 客户端打包目录(生产环境)
CLIENT_OUTDIR=dist/client
## SSL证书(设置证书路径，设置后开启HTTPS)
# /Users/certificates/domain.cc.key
SSL_CERTIFICATE_KEY=
# /Users/certificates/domain.cc.crt
SSL_CERTIFICATE=

# 数据库配置
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=test_db
# DB_USER=root
# DB_PWD=123456
